<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<%= render "form" %>

<%= link_to "Delete", product_path(@product), method: :delete %>
<%= link_to "Back to main", products_path %>


